.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header-row > th, td {
    border: 1px solid #222;
    min-width: 150px;
    padding: 12px;
    text-align: center;
}
.get-users {
    background-color: #2DADF0;
    color: #ffffff;
    font-weight: bold;
    border: 0;
    outline: 0;
    padding: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    border-radius: 4px;
}